
.user-ts {
    width: 1.5fr;
    /*border: solid white;*/
    height: auto;
    color: $text-secondary;
    background: $secondary-muted;
}

.user {
    padding-right: 1;
}

.message-text {
    width: 8.5fr;
    color: $text-primary;
    background: $primary-muted;
    /*border: solid blue;*/
}

.message {
    /*border: solid white;*/
    border: round $background;
    height: auto;
}

.file-label {
    margin-right: 1;
}

.file-labels {
    height: auto;
    background: $primary-muted;
}

ImageViewScreen {
    align: center middle;
    layout: vertical;
}

.image-widget {
    border: outer $primary;
}

.image-caption {
    /*border: solid blue;*/
    color: $primary;
    background: $primary-muted;
}

.image-widget-wide {
    width: auto;
    height: 75%;
}

.image-widget-tall {
    width: 75%;
    height: auto;
}
